tqdm
pandas
pytest
pytest-timeout
pytest-cov
parameterized
matplotlib
plotly
mock
scipy
vertica_python
graphviz
vertica-highcharts
geopandas
descartes
ipython
scikit-learn
xgboost
statsmodels
bs4
ipywidgets
requests
pyarrow
