/* This file contains modifications to the Furo theme to customize the look of the web pages */

/* Text Formatting to match OpenText style */
h1{
  font-family: "Inter";
  letter-spacing: -.022em;
  font-weight: 800 ;
  font-size: 3.2em ;
}

h2{
  font-family: "Inter";
  /* font-weight: 350 ; */
  font-size: 2.5em ;
  letter-spacing: -.021em;
  color: var(--color-announcement-text);
}

h3{
  font-size: 2em ;
}

/* Size of center content */
p {
  font-size: 130%; 
}

/* Size of Tiles - title */
.sd-card-title {
  font-size: 1.5em;
}

/* Text on Next and Previous buttons at the bottom */
.next-page{
  font-size: medium;
}
.prev-page{
  font-size: medium;
}

/* Class Parameters Text */
dt.sig.sig-object.py {
  font-size: medium !important;
}

/* Code boxes */
div[class*=" highlight-"], div[class^=highlight-]{
  font-size: medium;
}

/* Size of Parameters */
.field-list dt, .option-list dt, dl.footnote dt, dl.glossary dt, dl.simple dt, dl:not([class]) dt{
  font-size: medium;
}

/* VerticaPy Documentation Text */
.brand{
  font-size: medium;
}

/* Tabs Text */
.tab-set > input:checked + label {
  font-size: medium;
}
/* Tabs Text */
.tab-set > label {
  font-size: medium;
}

/* HEADER + PAGE */
.content {
  width:60em;
}

.sidebar-drawer {
  width: calc(50% - 31em)
}

/* Side nav bar */
.current {
  font-size: 1rem; 
  font-weight: 400;
  letter-spacing: -.017em;
  font-family: "Inter";
}

.sidebar-tree .icon, .sidebar-tree .reference {
  color: var(--color-announcement-text);
  font-size: Medium;
}

.sidebar-brand-text {
  /* color: var() */
  display: none;
}

.sidebar-scroll{
  /* margin-top: 3.5em; */
}

/* Main Tabs */
.sidebar-tree .toctree-l1>.reference, .sidebar-tree .toctree-l1>label .icon {
  font-size: 1rem;
  font-family: "Inter" ;
  line-height: 1.1;
}

.sidebar-tree li.has-children>.reference {
  line-height: 1.1;
}

.sidebar-tree .toctree-l1 {
  line-height: 1.5; /* Adjust the value as needed */
}

/* Right Side - On This Page */
.toc-tree .reference {
  font-size: 1rem;
}

.toc-title {
  font-size: 1rem;
}

/* Top search bar */
.top_search{
  margin-left: 40px;
  padding-right: 10px;
  font-size: medium;
}

/* Top Banner BUttons */
.top-button-container {
  font-size: Large;
  display: flex;
}

.top-button {
  /* color: #ffffff; */
  padding: 10px 40px 0px 20px;
  /* margin: 0 0 20px; */
  /* margin-top: 0px; */
  text-decoration: none;
  position: relative;
  transition: color 0.5s ease-in-out;
  /* font-family: 'Inter', sans-serif;  */
  font-family: "Inter var","Helvetica Neue",Helvetica,Arial,sans-serif;  /* From Vertica Website */
  font-weight: 400;
  /* font-size: 1em; */
  color: #101c2f; /* From Vertica Website */
}

.top-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  bottom: -15px;
  left: -10px;
  background-color: #1a6aff;
  /*transition: all 0.5s ease-in-out;*/
  transform: scaleX(0);
  visibility: hidden;
  border-radius: 10px 10px 0 0;
}

.top-button:hover {
  color: #1a6aff;
}

.top-button:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap'); */

/* body {
  font-family: "Inter";
} */

/* Top Buttons Dropdown Menu*/

.top-button-dropdown {
  display: none;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 16px;
  padding: 5px;
  width: 100%;
  background: none;
}

.top-button-dropdown:focus {
  outline: none;
}

/* Disabling Search below */
.sidebar-search-container{
  display: None;
  width: 200px;
}

.sidebar-search-container_top{
  display: flex;
  justify-content: center;
  /* size: fixed; */
  width: 300px;
  border: 1px solid var(--border-gray);
}

.sidebar-search{
  color: var(--color-announcement-text)
}
.element.style {
      width: 200px; /* Adjust the width as needed */
}

/* Hiding the logo on right side */
.sidebar-logo{
  display: None
}

/* The top navigation bar */
.announcement {
  /* Make it fixed */
  top: 0;
  left: 0;
  right:0;
  z-index: 1000;

  /* color: rgb(231, 14, 14); */
  height: calc(var(--header-height) * 2.4);
  /* display: flex; */
  align-items: center;
  
  overflow-x: auto;
  /* & + .page{
    min-height: 80px;
  } */
  box-shadow: 0px 8px 12px whitesmoke;
}

.announcement-content {
  box-sizing: border-box;
  min-width: 100%;
  padding: 0.5rem;
  /* text-decoration-color: black; */
  /* text-align: left; */
  white-space: nowrap;
  display: flex;
  align-items: center;
  color: #101c2f; /* From Vertica Website */
  /* font-size: 1rem; /* From Vertica Website */
  letter-spacing: -.011em; /* From Vertica Website */
  font-weight: 300; /* From Vertica Website */
  /* line-height: 1.5; */ /* From Vertica Website */
  /* padding: 2rem 0.75rem; */ /* From Vertica Website */
  /* align-items: center; */
  justify-content: center;
}

/* Container at the top for all buttons and search etc */
.main-header-container{
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

/* Container for search and github button */
.very-top-container{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-shadow: 0px 2px 0px 0px whitesmoke;
  padding-bottom: 15px;
}

/* cotnainer for color theme toggle at the top*/
.color-theme-container{
  justify-content: center;
  padding: 10px 15px 0px 20px;
}

/* Hiding the toggle in page */
.theme-toggle-container{
  visibility: hidden;
}
/* Container with search and version */
.right-top-container{
  display: flex

}

/* Container with main nav buttons + home button */
.top-bottom-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 650px) {
    .top-bottom-container {
       display: none;
  }
}

.toc-drawer {
  z-index: 1;
  margin-top: 20px;
}

/* For the top navigation bar. For the logo */
.centered-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
/* Vertica logo on Banner */
/* .banner-image {
  width: 200px;
  size: fixed;
  margin-right: 110px;
  min-width: 200px;
} */

/* Home button */
.home_button_container{
  padding-top: 5px;
  /* border: 2px solid var(--color-announcement-text); */
  border-radius: 35px;
  transition: background-color 0.5s;
  margin-right: 20px;
}

.home_button_container:hover svg path {
  fill: #1a6aff;

  transition: fill 0.5s;

}

.home_button_container:hover {
  transition: box-shadow 0.5s;
  /* box-shadow: 0px 0px 7px #1a6aff;
  border: 1px solid #1a6aff; */
}
/* Content on right side on navigation bar i.e. GitHub */
.right-content {
  /* display: flex;
  justify-content: left;
  padding-left: 150px; */
  padding-top: 10px;

}

/* Github button */
.github-button {
  display: inline-flex;
  /* padding-left: 50px; */
  align-items: center;
  justify-content: center;
  padding: 10px;
  /* background-color: #1a6aff; */
  width: 170px;
  height: 30px;
  /* display: block; */
  background: linear-gradient(to right, #00008b 0%,  #00008b 50%, #1a6aff 50%, #1a6aff 100%);
  background-size: 200% 100%;
  background-position: right bottom;
  /* transition: all .5s ease-out; */
  color: white;
  border: none;
  border-radius: 50px;
  font-size: medium;
}

.button-text {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1em; 
}

.github-button:hover{
  background-position: left bottom;
}

/* Chart Gallery GIF and other card info */

/* Chart Gallery Badges */
:root {
  --sd-color-warning: pink; /* Change the warning color to red */
}

.sd-card-footer {
  background-color: #1a6aff;
  color: white;
  border-radius: 10px;
}

.nono {
  background-color: pink;
  color: white;
  border-radius: 10px;
}

/* End of Chart Gallery */


/* body[data-theme="dark"] .banner-image {
  fill: white; 
} */

/* The top box to select version */
.select.form-control-sm:not([multiple]) {
  background-position: right 1rem top .5rem
}

.form-group {
  text-align: center;
}

.form-group select {
  /* width: 100px; */
}

.form-control {
  display: block;
  /* width: 100%; */
  height: calc(1em + 1.375rem + 2px);
  padding: 0rem 0.9375rem;
  font-size: large;
  font-weight: 300;
  line-height: 1;
  color: var(--color-announcement-text);
  background-color: #fff;
  background-clip: padding-box;
  border: 0px solid var(--color-announcement-text);
  border-radius: 3rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  appearance: none;
  background: url('data:image/svg+xml;utf8,<svg fill="black" height="10px" width="10px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 330 330" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path id="XMLID_225_" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"></path> </g></svg>') no-repeat right 5px center;
  background-size: 15px;
  padding-right: 25px;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
#filter-select option {
  font-weight: normal ;
  min-height: 1.2em ;
  padding: 0px 2px 1px ;
  font-family: "Inter" ;
}

/* Bottom Privacy/Cookies */
.bottom_buttons{
  padding-right: 10px;
  font-size: 0.8em;

}

/* Changing color of class/functions */
.sig-prename {
  color: var(--color-link);
  font-weight: 400;
}

.sig-name {
  color: var(--color-link);
}

.main{
  /* margin-top:80px; */
}

/* TESTING TO REDUCE THE SIZE */
body {
  font-size: 80%;
  
}

.sd-card:hover {
  --sd-color-shadow: #CFCFCF;
  border-color: #CFCFCF;
}

/* Add padding on top of article container */
.page{
  /* margin-top: calc(var(--header-height) * 1.8+500px); */
}

/* Add padding on top of article container */
.article-container{
  /* margin-top: calc(var(--header-height) * 1.8+20px); */
}

/* TOC on right */

.toc-title-container{
  margin-top: 70px;
}

/* Cards */
.custom-card,
.custom-card-2,
.custom-card-3,
.custom-card-4,
.custom-card-5,
.custom-card-6, 
.custom-card-7, 
.custom-card-8,
.custom-card-9,
.custom-card-10,
.custom-card-11,
.custom-card-12,
.custom-card-13,
.custom-card-14 {
  /*overflow-y: scroll;*/
}
.custom-card:hover,
.custom-card-2:hover,
.custom-card-3:hover,
.custom-card-4:hover,
.custom-card-5:hover,
.custom-card-6:hover, 
.custom-card-7:hover, 
.custom-card-8:hover,
.custom-card-9:hover,
.custom-card-10:hover,
.custom-card-11:hover,
.custom-card-12:hover,
.custom-card-13:hover,
.custom-card-13:hover {
  box-shadow: 0px 12px 30px whitesmoke;
}

/* Cards on API page */
.custom-card {
  height: 130px; /* Adjust the desired height */
  /* Add more styles as needed */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Cards on Index Page */
.custom-card-2 {
  height: 370px; /* Adjust the desired height */
}

/* Cards on Machine Learning page */
.custom-card-3 {
  height: 250px; /* Adjust the desired height */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Cards on Vertica page */
.custom-card-4 {
  height: 285px; /* Adjust the desired height */
  /* Add more styles as needed */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Cards on Connectors page */
.custom-card-5 {
  height: 320px; /* Adjust the desired height */
}

/* Cards on chart gallery page */
.custom-card-6 {
  height: 420px; /* Adjust the desired height */
}

/* Cards on User Guide pages */
.custom-card-7 {
  height: 130px; /* Adjust the desired height */
}

/* Cards on User Guide MAIN page */
.custom-card-8 {
  height: 325px; /* Adjust the desired height */
  /* Add more styles as needed */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Cards on User Guide / Introduction page */
.custom-card-9 {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 190px;
}

/* Cards on Benchmarks pages */
.custom-card-10 {
  height: 190px; /* Adjust the desired height */
}

/* Cards on Performance pages */
.custom-card-11 {
  height: 190px; /* Adjust the desired height */
}

/* Cards on User Guide/Data Exploration page */
.custom-card-12 {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 200px;
}

/* Cards on User Guide/Data Prep page */
.custom-card-13 {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 200px;
}


/* Cards on User Guide/Machine Learning page */
.custom-card-14 {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 210px;
}

/* Cards on User Guide/Full Stack page */
.custom-card-15 {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 220px;
}
/* End cards */

.custom-class-img-top{
  height: 90px;
}

.custom-class-img-top-2{
  height: 105px;
}

/* Connector Page */
.custom-class-img-top-3{

  padding: 5px;
}

.custom-class-img-top-4{
  padding-top: 60px;
  padding-inline: 5px;
}

.custom-class-img-top-5{
  padding: 30px;
  padding-bottom: 15px;
}

.custom-class-img-top-6 {
  padding-top: 55px;
  padding-inline: 22px;
}

/* Chart Gallery Page */
.custom-class-img-top-7 {
  height: 200px;
  padding: 8px;
}
/* END Connector Page Img Cards */

/* To hide the logo when screen is too small */
@media (max-width: 72em) {
  .centered-content {
    /* position: fixed; */
    /* left: 10px; */
  }
  /* Cards on Connectors page */
}

/* To get drop down */

.top-dropdown {
  position: fixed;
  display: none;
  right: 10px;
  top: 15px;
}

.dropdown-btn {
  padding: 0px 20px;
  background-color: var(--color-announcement-background);
  color: var(--color-announcement-text);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 3.2em;
  height: 50px;
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-item {
  padding: 15px 20px;
  text-decoration: none;
  display: block;
  color: var(--color-announcement-text);
  font-size: x-large;
}

.dropdown-item:hover {
  background-color: #ddd;
}

.top-dropdown:hover .dropdown-content {
  display: block;
}

/* Summary Tables */
article, article .align-default {
  margin-left: 0;
}

/* Icons on pages */
.page-icons {
  margin-top: 10px; /* Adjust the margin size as needed */
  margin-bottom: 10px; /* Adjust the margin size as needed */
}

/*second search for short window*/
.search-top-dropdown {
  position: fixed;
  display: none;
  right: 65px;
}

.search-top-dropdown:hover .search-dropdown-content {
  display: block;
}

.search-dropdown-btn {
  padding: 10px 20px;
  background-color: var(--color-announcement-background);
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 2em;
  height: 50px;
  font-weight: bold;
}

.search-dropdown-content {
  padding: 5px 5px;
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
  right:50px;
  top:70px;
}

.sidebar-search-container_top-2{
  display: flex;
  justify-content: center;
  size: fixed;
  height: 40px;
  width: 400px;
}

/* Feedback button on right */

.openbtn {

  position: fixed;
  right: -25px;
  top: 400px;
  transform: rotate(-90deg);
  cursor: pointer;
  background-color: #1a6aff;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 15px;
  border: 0;
  z-index: 1000;
}

.feedback_sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: var(--color-announcement-background);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 0px 8px 12px whitesmoke;
}

.feedback_sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.feedback_sidebar a:hover {
  color: #f1f1f1;
}

.feedback_sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn:hover {
  background-color: #00008b;
}

#main {
  /* transition: margin-left .5s; */
  /* padding: 16px; */
}

/* End of Feedback button details */

/* From VerticaPy Website for Feedback Form */

#feedback-form {
  margin: 20px 25px 0 -25px;
}

#feedback-form > form {
  border: 1px solid var(--border-gray);
  font-size: 14px;
  padding: 32px;
  color:var(--color-content-foreground);
}

#feedback-form > form .gform_fields {
  list-style: none;
}

#feedback-form > form .gfield {
  margin-bottom: 10px;
}

#feedback-form > form .gfield:before,
#feedback-form > form .gfield:after {
  content: '';
  display: table;
}

#feedback-form > form .gfield:after {
  clear: both;
}

#feedback-form > form .gfield_label {
  font-weight: 600;
}

#feedback-form > form .gfield_radio {
  list-style: none;
  margin: 0;
  padding: 0;
}

#feedback-form > form .gfield_radio [class*="gchoice"] {
  float: left;
  width: 30%;
}

#feedback-form > form .gfield_radio [class*="gchoice"] input {
  float: left;
  margin: 1px 0 0;
}

#feedback-form > form .gfield_radio [class*="gchoice"] input:checked ~ label {
  color: var(--primary);
}

#feedback-form > form .gfield_radio [class*="gchoice"] label {
  margin: 10px 0 0 5px;
}

#feedback-form > form textarea {
  border-color: var(--border-gray);
  max-width: 100%;
  padding: 8px;
}

#feedback-form > form textarea::placeholder {
  color: var(--dark-gray);
  font-style: italic;
}

#feedback-form .gform_button {
  background: #1a6aff;
  border: none;
  border-radius: 16px;
  color: white;
  font-weight: 600;
  letter-spacing: .25px;
  line-break: 1;
  padding: 6px 18px 6px;
  -webkit-font-smoothing: antialiased;
  margin-left: 15px;
}

#feedback-form .gform_button[disabled] {
  opacity: .7;
}

.feedback_title{
  padding-bottom: 15px;
  font-weight: 600;
  font-size: large;
}

.deprecated{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: var(--color-announcement-background);
  border-right: 1px solid #DEDEDE;
  border-top: 1px solid #DEDEDE;
  border-bottom: 1px solid #DEDEDE;
  border-left: 0.2rem solid red;
  padding: 5px;
}

.versionadded{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: var(--color-announcement-background);
  border-left: 0.2rem solid green;
  border-right: 1px solid #DEDEDE;
  border-top: 1px solid #DEDEDE;
  border-bottom: 1px solid #DEDEDE;
  padding: 5px;
}

.versionmodified{
  font-weight: bold;
  font-style: normal;
  display: inline-block;
  border: none;
}

/* End of form */

@media (max-width: 72em) {

  .search-top-dropdown {
      /* display: inline-block; */
  }
}

@media (max-width: 50em) {
  .github-button {
    width: 140px;
  }
  
  .right-content {
    /* padding-left: 15px; */
  }
  .sidebar-search-container_top{
    width: 150px;
  }

  /* Cards on Vertica page */
  .custom-card-4 {
    height: 230px;
  }
  .custom-card-5 {
    height: 400px; /* Adjust the desired height */
    /* Add more styles as needed */
  }
}

@media (max-width: 36em) {
/* Cards on Index Page */
.custom-card-2 {
  height: 265px; /* Adjust the desired height */
  /* Add more styles as needed */
}
/* Cards on Machine Learning page */
.custom-card-3 {
  height: 150px; 
}
/* Cards on Vertica page */
.custom-card-4 {
  height: 140px;
}
/* Cards on User Guide MAIN page */
.custom-card-8 {
  height: 260px; /* Adjust the desired height */
}
/* Cards on User Guide / Introduction page */
.custom-card-9 {
  height: 240px;
}
/* Cards on Benchmarks pages */
.custom-card-10 {
  height: 100px; /* Adjust the desired height */
}
/* Cards on User Guide/Data Exploration page */
.custom-card-12 {
  height: 230px;
}
/* Cards on User Guide/Data Prep page */
.custom-card-13 {
  height: 190px;
}
/* Cards on User Guide/Machine Learning page */
.custom-card-14 {
  height: 190px;
}
}

@media (max-width: 62em) {
/* Cards on Machine Learning page */
.custom-card-3 {
  height: 230px; 
}
/* Cards on Vertica page */
.custom-card-4 {
  height: 210px;
}
/* Cards on Benchmarks pages */
.custom-card-10 {
  height: 150px; /* Adjust the desired height */
}
/* Cards on User Guide / Introduction page */
.custom-card-9 {
  height: 200px;
}
/* Cards on User Guide/Machine Learning page */
.custom-card-14 {
  height: 230px;
}
/* Cards on User Guide/Full Stack page */
.custom-card-15 {
  height: 240px;
}
}
@media (max-width: 90em) {
  .right-content {
    /* display: none; */
  }

  .sidebar-search-container_top{
    /* width: 84px; */
  }

}

@media (max-width: 72em) {
  .top-button-container {
      /* display: none; */
  }
  .top-dropdown {
      /* display: inline-block;; */
  }
  .form-control {
    /* position: fixed;
    right: 135px;
    top:23px; */
  }

  .dropdown-content{
    /* right: 10px; */
  }
  .dropdown-item{
    /* width: 35em; */
  }
  .sidebar-search-container_top{
    /* display: none; */
  }

  .home_button_container{
    /* position: fixed;
    right: 250px; */
  }
  /* .dropdown-content {
      display:block;
      width: auto;
      right: 0;
      left: auto;
  } */
}

@media (max-width: 50em) {
  .form-group {
    /* display: none; */
}
  .home_button_container {
    /* right:125px; */
  }
}

@media (max-width: 40em) {
  .home_button_container{
    /* display: none */
}
}

/* Loader GIF for pages */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}

.gif-loader {
  max-width: 15%; /* Adjust the width as needed */
  max-height: 15%; /* Adjust the height as needed */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* VerticaPy Tables */
.verticapy_table {
  overflow-x: scroll;
}

/* Hiding the code block counter */
.gp, .gh {
  font-size:0;
}
.gh::after {
  font-size: 12px;
  content: "Out: ";
}

/* Improving mobile header */
@media (max-width: 50em) {
  .top-bottom-container {
    display: none;
  }
  .announcement {
    height: 120px;
    margin-bottom: -32px;
  }
  .top_search {
    display: none;
  }
  .github-button svg {
    display: none;
  }
}
#Logo_Layer_2 {
  margin-left: 20px;
}
