table td {
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center !important;
    background-color: #FAFAFA;
}
table tr:nth-child(1)  {
    background-color: #FFFFFF;
}

table th {
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center !important;
}

tr td:nth-child(1) {
    border: 1px solid #AAAAAA;
    background-color: #FFFFFF;
    min-width: 95px;
    max-width: 95px;
}

tr td:nth-child(n+2) {
    border: 1px solid #DDDDDD;
    max-width: 240px;
}

thead input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

table thead tr td {
    background-color: #FFFFFF;
  }

table.dataTable thead>tr>th.sorting:before,table.dataTable thead>tr>th.sorting_asc:before,table.dataTable thead>tr>th.sorting_desc:before,table.dataTable thead>tr>th.sorting_asc_disabled:before,table.dataTable thead>tr>th.sorting_desc_disabled:before,table.dataTable thead>tr>td.sorting:before,table.dataTable thead>tr>td.sorting_asc:before,table.dataTable thead>tr>td.sorting_desc:before,table.dataTable thead>tr>td.sorting_asc_disabled:before,table.dataTable thead>tr>td.sorting_desc_disabled:before {
    bottom: 50%;
    content: "▴";
    font-size: x-large !important;
}

table.dataTable thead>tr>th.sorting:after,table.dataTable thead>tr>th.sorting_asc:after,table.dataTable thead>tr>th.sorting_desc:after,table.dataTable thead>tr>th.sorting_asc_disabled:after,table.dataTable thead>tr>th.sorting_desc_disabled:after,table.dataTable thead>tr>td.sorting:after,table.dataTable thead>tr>td.sorting_asc:after,table.dataTable thead>tr>td.sorting_desc:after,table.dataTable thead>tr>td.sorting_asc_disabled:after,table.dataTable thead>tr>td.sorting_desc_disabled:after {
    top: 50%;
    content: "▾";
    font-size: x-large !important;
}