name: CI

on:
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version: [3.6.8, 3.7, 3.8, 3.9]

    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up a Vertica server
        timeout-minutes: 15
        run: |
          docker pull vertica/vertica-ce:12.0.1-0
          docker run -d -p 5433:5433 -p 5444:5444 \
            --name vertica_docker \
            vertica/vertica-ce
          echo "Vertica startup ..."
          until docker exec vertica_docker test -f /data/vertica/VMart/agent_start.out; do \
            echo "..."; \
            sleep 3; \
          done;
          echo "Vertica is up"
          docker exec -u dbadmin vertica_docker /opt/vertica/bin/vsql -c "\l"
      - name: Install dependencies
        run: pip install tox
      - name: Run tests
        run: |
          export VP_TEST_USER=dbadmin
          tox -e py
